WORK_DIR=original_work_dir/groth16/e2e_groth16
CACHE_DIR=original_cache_dir
RAW_VK_PATH=../contracts/src/groth/example_jsons/vk.json
VK_PATH=../contracts/src/groth/example_jsons/vk.json
PROOF_PATH=../contracts/src/groth/example_jsons/proof.json
MAX_THREADS=8 